<h1>Form</h1>
<form method ="POST" action="/new">
    <input name ="name" type ="text" placeholder="name">
    <input name= "message" type = "text" placeholder ="message"> 
    <button>Submit</button>
</form>
